{% extends 'admins/base.html' %}
{% block content %}
{% load static %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Form elements </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form elements</li>
          </ol>
        </nav>
      </div>
      {% if messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
   {% for message in messages %}
       {{ message }}
   {% endfor%}
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
       </button>
     </div>
   {% endif %}
<div class="row">
    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Variation</h4>
          <!-- <p class="card-description"> Basic form layout </p>  -->
          <form class="forms-sample" action="" method="POST">
              {% csrf_token %}
            
              {% comment %} <div class="form-group">
                <label for="exampleInputUsername1">Category</label>
                <div class="col-sm-9">{{form.category}}</div>
              </div>
              <div class="form-group">
                <label for="exampleInputUsername1">Sub Category</label>
                <div class="col-sm-9">{{form.subCategory}}</div>
              </div> {% endcomment %}
             <div class="form-group">
              <!-- <label for="exampleInputUsername1">Name</label> -->
              <div class="col-sm-9">{{form.as_p}}</div>
             </div>  
            <!-- <div class="form-group">
              <label for="exampleInputUsername1">Name</label>
              <input type="text"  class="form-control" name="name" placeholder="name" style="color: azure;"> 
            </div>  -->
            <button type="submit" class="btn btn-primary mr-2">Update</button>
          </form>
        </div>
      </div>
    </div>
  
<!-- content-wrapper ends -->
<!-- partial:../../partials/_footer.html -->
<footer class="footer">
 <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>  
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank"></a></span> 
  </div>
</footer> 
<!-- partial -->
<!-- </div> -->
<!-- main-panel ends -->
<!-- </div> -->
<!-- page-body-wrapper ends -->
<!-- </div> -->
<!-- container-scroller -->
<!-- plugins:js -->
{% endblock %}